        <!-- Slider 2 -->
        <div class="slider-2-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 slider-2-text wow fadeInUp">
                        <h1>We are <span class="violet">Mario</span> a super cool mushroom Company.</h1>
	            		<p>We do not carry mushrooms, we're just as you cultivate mushrooms.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Services -->
        <div class="services-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 services-title wow fadeIn">
		                <h2>我们的服务</h2>
		            </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-3">
		                <div class="service wow fadeInUp">
		                    <div class="service-icon"><i class="fa fa-eye"></i></div>
		                    <h3>看的见的技术</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
		                    <a class="big-link-1" href="services.html">了解 更多</a>
		                </div>
					</div>
					<div class="col-sm-3">
		                <div class="service wow fadeInDown">
		                    <div class="service-icon"><i class="fa fa-table"></i></div>
		                    <h3>到位的营销</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
		                    <a class="big-link-1" href="services.html">了解 更多</a>
		                </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="service wow fadeInUp">
		                    <div class="service-icon"><i class="fa fa-magic"></i></div>
		                    <h3>面对面的教授</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
		                    <a class="big-link-1" href="services.html">了解 更多</a>
		                </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="service wow fadeInDown">
		                    <div class="service-icon"><i class="fa fa-print"></i></div>
		                    <h3>完善的服务</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
		                    <a class="big-link-1" href="services.html">了解 更多</a>
		                </div>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Testimonials -->
        <div class="testimonials-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 testimonials-title wow fadeIn">
		                <h2>公司简介</h2>
		            </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-10 col-sm-offset-1 testimonial-list">
	                	<div role="tabpanel">
	                		<!-- Tab panes -->
	                		<div class="tab-content">
	                			<div role="tabpanel" class="tab-pane fade in active" id="tab1">
	                				<div class="testimonial-image">
	                					<img src="assets/img/testimonials/1.jpg" alt="" data-at2x="assets/img/testimonials/1.jpg">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"我单位从事食用菌产业发展已将近二十年，主要从事袋料香菇菌种、原辅材料开发研究、生产技术推广与市场开拓。1997年我公司应陕西省商洛市（地区）食用菌产业办的邀请，公司总经理吴建海及副总经理范良松率领技术骨干到陕西进行食用菌产业开发考察，并与当地政府签订技术推广发展合同。为此特在浙江庆元注册成立了“庆元县庆丰源食用菌材料开发有限公司”，并先后在陕西商洛市成立了“商南县庆丰源真菌研究所”、“庆丰源食用菌服务中心”；在汉中市成立了“汉中市康田生物科技有限公司”,于二零一三年在四川省广元市成立了“汉中康田生物科技有限公司广元分公司”分公司并在“宁强县广坪镇，江油市六合乡，平武县南坝镇食用菌技术服务部”。 通过全体科技人员的共同努力，使广大菇农获得了切身利益，走上了致富道路，也为当地创造了良好的社会效益和经济效益。同时，受到了各级政府的高度重视和大力支持，并得到了良好评价。
      										本单位有着雄厚的经济实力与技术力量，特聘请袋料香菇生产创始人全国食用菌产业发展做出了杰出贡献的全国劳动模范、中国食用菌专家吴克甸；为我单位高级技术顾问。现拥有高级农技师两名，省级食用菌菌种技术人员一名, 食用菌技师五名，助理技师三名，科技管理人员二十余名，是一个集科研、技术创新推广、菌种选育生产、技术咨询服务、原辅材料供应、产品购销于一体的民营科技企业。通过精心选育，优质高产袋料花菇品种有：中高温型品种、永丰1＃及康田6＃，中低温型品种庆丰源908＃、258＃；优质品牌香菇筒袋有：金马牌成品内袋及外套袋；高新材料有：1、节能高效之母—抗霉剂；2、高效接种法宝—甲洁星；3、免割袋出菇—保水膜。  "<br>
		                                	<a href="#">我们承诺：以诚信服务为宗旨，带动菇农共同致富为目的。尊重科学、严格管理、规范生产、开拓务实是我们追求的目标。</a>
		                                </p>
	                                </div>
	                			</div>
	                	</div>
	                </div>
	            </div>
	        </div>
        </div>