        <!-- Page Title -->
        <div class="page-title-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 wow fadeIn">
                        <i class="fa fa-user"></i>
                        <h1>到位的服务/</h1>
                        <p>如何学习好的知识</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Us Text -->
        <div class="about-us-container">
        	<div class="container">
	            <div class="row">
	            <h2>栽培技术：</h2>
	                <div class="col-sm-12 about-us-text wow fadeInLeft">
	                    <h3>栽培季节</h3>
	                    <p>
						  蘑菇渭北旱腰带地区，温差大，空气湿度小，季节变化快，可提前播种，时间安排在8月中旬－9月上旬。关中平原一带安排在8月底－9月中旬，当然，有窑洞、果窖的菇农，可在麦草收获后就能堆积发酵，7月底就可以播种，8月...
	                    </p>
	                    <h3>原材料的准备</h3>
	                    <p>
	                    	 栽培双孢菇的主料：麦草、玉米秆、牛粪。辅料；油渣、磷肥、石灰、石膏、尿素。6月份收小麦开始，收集麦草，麦草要堆在距播种大棚的空地上。堆起时不用粉碎：玉米秆收集时...
	                    </p>
	                    <h3>配料及堆制</h3>
	                    <p>
	                    	 培养料配方：每亩的用量 
 	    					1.麦草5000公斤、硼肥200公斤、鲜牛粪10立方米、尿素40公斤、棉籽壳500公斤、油渣200公斤、石灰250公斤、石膏200公斤、PH值8左右。
     						2.玉米秆2500公斤、麦草2500公斤、鲜牛粪6立方米、棉皮500公斤、油渣200公斤、磷肥200公斤石膏200公斤、尿素40公斤、石灰250公斤。 
							3.堆制：根据自身地理环境，无论是温室、大弓棚、大田、窑洞栽培，堆料发酵均在距栽培场地附近，水、电要方便的进料场所建堆。
							...
	                    </p>
	                    <h3>大棚、露地选择及开畦</h3>
	                    <p>
	                    	 栽培蘑菇，现有的温室大棚、大弓棚、中小棚均可栽培。若需建棚，在收过小麦的地里，弓棚南北走向，温室东西走向。大棚用旧薄膜或黑薄膜，加草帘均可。一般棚长30－50米为宜。
	                    	 1.大棚开畦方法是...
	                    	 ... 
	                    </p>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Meet Our Team -->
        <div class="team-container">
        	<div class="container">
	            <div class="row">
		            <div class="col-sm-12 team-title wow fadeIn">
		                <h2>联系我们的客服哟</h2>
		            </div>
	            </div>
	            <div class="row">	            	
	            	<div class="col-sm-3">
		                <div class="team-box wow fadeInUp">
		                    <img src="assets/img/team/1.jpg" alt="" data-at2x="assets/img/team/1.jpg">
		                    <h3>客服1</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
		                    <div class="team-social">		                        
		                        <a href="#"><i class="fa fa-facebook"></i></a>
		                        <a href="#"><i class="fa fa-twitter"></i></a>
		                        <a href="#"><i class="fa fa-linkedin"></i></a>
		                        <a href="#"><i class="fa fa-envelope"></i></a>
		                    </div>
		                </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="team-box wow fadeInDown">
		                    <img src="assets/img/team/2.jpg" alt="" data-at2x="assets/img/team/2.jpg">
		                    <h3>客服2</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
		                    <div class="team-social">		                        
		                        <a href="#"><i class="fa fa-facebook"></i></a>
		                        <a href="#"><i class="fa fa-twitter"></i></a>
		                        <a href="#"><i class="fa fa-linkedin"></i></a>
		                        <a href="#"><i class="fa fa-envelope"></i></a>
		                    </div>
		                </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="team-box wow fadeInUp">
		                    <img src="assets/img/team/3.jpg" alt="" data-at2x="assets/img/team/3.jpg">
		                    <h3>客服3</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
		                    <div class="team-social">		                        
		                        <a href="#"><i class="fa fa-facebook"></i></a>
		                        <a href="#"><i class="fa fa-twitter"></i></a>
		                        <a href="#"><i class="fa fa-linkedin"></i></a>
		                        <a href="#"><i class="fa fa-envelope"></i></a>
		                    </div>
		                </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="team-box wow fadeInDown">
		                     <img src="assets/img/team/2.jpg" alt="" data-at2x="assets/img/team/2.jpg">
		                    <h3>客服4</h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
		                    <div class="team-social">		                        
		                        <a href="#"><i class="fa fa-facebook"></i></a>
		                        <a href="#"><i class="fa fa-twitter"></i></a>
		                        <a href="#"><i class="fa fa-linkedin"></i></a>
		                        <a href="#"><i class="fa fa-envelope"></i></a>
		                    </div>
		                </div>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Testimonials -->
        <div class="testimonials-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 testimonials-title wow fadeIn">
		                <h2>。。。</h2>
		            </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-10 col-sm-offset-1 testimonial-list">
	                	<div role="tabpanel">
	                		
	                		
	                			
	                	</div>
	                </div>
	            </div>
	        </div>
        </div>